
@charset "UTF-8";
/* Base Styles */
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-size: 15px;
  position: relative;
}
#cssmenu > ul > li > a{
  padding: 0 40px;
}
#cssmenu {
  width: 100%;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
#cssmenu > ul > li > a {
  line-height: 42px;
}
#cssmenu > ul > li:first-child {
  background: #66665e;
  background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e), color-stop(100%, #45463d));
  background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
  background: linear-gradient(#66665e 0%, #45463d 100%);
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#cssmenu > ul > li:first-child > a {
  padding: 15px 10px;
  border: none;
  border-top: 1px solid #818176;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  text-shadow: 0 -1px 1px #000000;
}
#cssmenu > ul > li:first-child > a > span {
  padding: 0;
}
#cssmenu > ul > li:first-child:hover {
  background: #66665e;
  background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e), color-stop(100%, #45463d));
  background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
  background: linear-gradient(#66665e 0%, #45463d 100%);
}
#cssmenu > ul > li {
  background: #ffffff;
}
#cssmenu > ul > li.ok,
#cssmenu > ul > li.active,
#cssmenu > ul > li:hover {
  background: #e62127;
 /* background: -moz-linear-gradient(#e84323 0%, #c33115 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e84323), color-stop(100%, #c33115));
  background: -webkit-linear-gradient(#e84323 0%, #c33115 100%);
  background: linear-gradient(#e84323 0%, #c33115 100%);*/
}
#cssmenu > ul > li > a {
  font-size: 16px;
  display: block;
  color: #525252;
  border-bottom: 1px solid #ededed;
  border-top: none;
  font-weight: 500;
}
/*#cssmenu > ul > li > a > span {
  display: block;
  padding: 7px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}*/
#cssmenu > ul > li.ok > a,
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a {
  text-decoration: none;
  color: #ffffff;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.has-sub > a {
  background: url(../images/icon_plus.png) right 35px center no-repeat;
}
#cssmenu > ul > li.has-sub.active > a {
  background: url(../images/icon_minus.png) right 35px center no-repeat;
}
/* Sub menu */
#cssmenu ul ul {
  display: none;
  background: #fff;
}
#cssmenu ul ul li {
  padding: 0;/*
  border-bottom: 1px solid #ccc;*/
  border-top: none;
  background: #ffffff;
  /*background: -moz-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ececec));
  background: -webkit-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: linear-gradient(#f7f7f7 0%, #ececec 100%);*/
}

#cssmenu ul ul li:last-child {
 /* border-bottom: 1px solid #e62127;*/
}
#cssmenu ul ul li a {
  padding: 10px 10px 10px 65px;
  display: block;
  color: #525252;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
}
#cssmenu ul ul li.ac a:before,
#cssmenu ul ul li.ac a,
#cssmenu ul ul li.ok a{
  color: #db251d;
}
#cssmenu ul ul a:before {
  font: normal normal normal 10px/1 FontAwesome;
  content: "\f101";
  position: absolute;
  top: 13px;
  left: 43px;
  color: #525252;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
#cssmenu ul ul li:hover > a::before,
#cssmenu ul ul li > a:hover:before,
#cssmenu ul ul li > a:focus:before {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
#cssmenu ul ul a:hover {
  color: #db251d;
}
#cssmenu ul ul li.ac a:before,
#cssmenu ul ul li.ok a:before,
#cssmenu ul ul a:hover:before {
  color: #db251d;
}